@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  transition: 0.5s;
}
body {
  font-family: Roboto;
  background: url(img/background_index.svg) no-repeat fixed;
}
header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.toolbar {
  display: flex;
  gap: 30px;
  margin-left: 0px;
  align-items: end;
}
.toolbar a {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
}
.toolbar a:hover {
  text-decoration: underline;
}
.gaz_num {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.gaz_num p {
  color: #fff;
  font-size: 20px;
}
.gaz_num span {
  margin-right: 0px;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

/* index */
.content_index {
  margin-top: 110px;
  width: 90%;
}
.dont_go {
  color: #fff;
  font-size: 96px;
  font-weight: 500;
}
.sit_home {
  color: #fff;
  font-size: 96px;
  font-weight: 500;
  max-width: 840px;
  margin-right: 0px;
  margin-top: 140px;
}

.can_home-container {
  margin-top: 170px;
}
.can_home-container p {
  color: #fff;
  font-size: 96px;
  font-weight: 500;
  max-width: 940px;
  margin-top: 140px;
  text-align: center;
}
.can_home-container button {
  margin-top: 112px;
  width: 60%;
  margin-bottom: 50px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  display: flex;
  color: #1d6db4;
  font-size: 46px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.can_home-container button:hover {
  background-color: #1d6db4;
  color: #fff;
}

.events {
  margin-top: 200px;
  width: 1000px;
}

.events h2 {
  color: #fff;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.event {
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
}
.event-media img {
  width: 630px;
}
.event-details {
  background-color: #fff;
  width: 600px;
  padding: 15px;
}
.event-date {
  color: grey;
  font-weight: 300;
}
.event-title {
  font-size: 25px;
  color: #1d6db4;
  margin-top: 15px;
}
.event-description {
  margin-top: 5px;
}

.admin_input {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  z-index: 9999;
  width: 30%;
  height: 300px;
  flex-direction: column;
  border: 5px solid #1d6db4;
  border-radius: 5px;
}
.admin_input h2 {
  margin-bottom: 8%;
  color: #1d6db4;
  font-size: 40px;
}
.admin_form {
  width: 60%;
  display: grid;
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.admin_form input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #1d6db4;
  height: 30px;
  width: 70%;
  font-size: 20px;
}
.admin_input-btn {
  display: flex;
  cursor: pointer;
  background-color: #1d6db4;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 70%;
  justify-content: center;
  height: 20px;
  font-size: 20px;
}
.admin_input-btn:hover {
  background-color: blue;
}

/* new_news */
.content_new_news {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-top: 100px;
}
.href_admin_toolbar {
  background-color: #1d6db4;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}
.href_admin_toolbar:hover {
  background-color: #fff;
  color: #1d6db4;
}

.content_new_news h1 {
  color: #fff;
}
.new_news-form {
  display: grid;
  width: 80%;
  margin-bottom: 100px;
}
.new_news-form label {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}
.input_info {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-top: 5px;
}
.new_news-form textarea {
  width: 100%;
  min-height: 200px;
  margin-top: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
#media {
  font-size: 20px;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
}
.new_news-btn {
  margin-top: 30px;
  width: 70%;
  color: #fff;
  background-color: #1d6db4;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  font-weight: 500;
}
.new_news-btn:hover {
  background-color: blue;
}

/* oferta */
.oferta_content {
  margin-top: 100px;
  width: 80%;
  margin-bottom: 100px;
}
.oferta_form {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.oferta_form h2 {
  margin-bottom: 50px;
  font-size: 40px;
}

.oferta_form h3 {
  margin-bottom: 10px;
  font-size: 30px;
}
.oferta_form input {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.oferta_form label {
  font-size: 20px;
}
.oferta_form hr {
  width: 60%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.submit_oferta-btn {
  background-color: #1d6db4;
  cursor: pointer;
  color: #fff;
}
.submit_oferta-btn:hover {
  background-color: #fff;
  color: #1d6db4;
}

/* contacts */
.contacts_content {
  color: #fff;
  display: grid;
  margin-top: 100px;
  width: 80%;
}
.contacts_content h1 {
  font-size: 50px;
}
.info_contact {
  display: flex;
  margin-top: 40px;
  width: 100%;
}
.info_contact-title {
  margin-left: 0px;
}
.info_contact-content {
  margin-right: 0px;
}
.info_contact-title p {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
}
.info_contact-content p {
  margin-bottom: 30px;
  font-size: 25px;
}
.info_contact-content p a {
  color: #fff;
}
.bank_info {
  margin-top: 100px;
}
.bank_info h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
.bank_info p {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

/* view oferta */
.content_view_oferta {
  width: 95%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-top: 100px;
  color: #fff;
}
.table_title {
  padding-top: 30px;
  border-bottom: 2px solid white;
}
.table_content-view_oferta {
  padding-top: 20px;
  margin-top: 20px;
  border-bottom: 1px solid white;
}

/* for client */
.consumer_safety_title {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.consumer_safety_content {
  font-size: 20px;
}
.consumer_safety_content span {
  color: red;
  font-weight: 700;
  font-size: 30px;
}
.video_player {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
  margin-top: 50px;
}
.iframe_video {
  width: 1000px;
  height: 500px;
}

/* adaptive */

@media screen and (width < 1750px) {
  /* for client */
  .contacts_content img {
    width: 80%;
  }
}
@media screen and (width < 1500px) {
  .gaz_num {
    display: none;
  }

  /* for client */
  .video_player {
    width: 100%;
  }
  .iframe_video {
    width: 80%;
    max-height: 500px;
  }
}

@media screen and (width < 1350px) {
  header {
    flex-direction: column;
  }
  .toolbar {
    margin: 0 auto;
  }
}
@media screen and (width < 1075px) {
  /* index */

  .content_index {
    text-align: center;
  }
  .dont_go,
  .sit_home,
  .can_home-container p {
    font-size: 50px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .can_home-container {
    margin-top: 50px;
  }
  .events {
    width: 80%;
    text-align: center;
  }

  /* contact */
  .info_contact {
    text-align: center;
  }
  .info_contact-title {
    display: none;
  }
  .info_contact-content {
    margin: 0 auto;
  }

  /* for client */
  .contacts_content {
    text-align: center;
  }

  /* login */
  .admin_input {
    height: 222px;
  }
  .admin_form {
    width: 100%;
  }
  .admin_form input {
    width: 80%;
  }
  .admin_input h2 {
    font-size: 30px;
  }
}

@media screen and (width < 989px) {
  /* index */
  .toolbar {
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  .event-media img,
  .event-details {
    width: 80%;
    padding: 0px;
  }
  .event-details p {
    margin: 15px;
  }

  /* login */
  .admin_input {
    width: 80%;
  }
  .admin_input {
    height: 300px;
  }
}

@media screen and (width < 640px) {
  /* index */
  .can_home-container button {
    font-size: 30px;
  }
  .events {
    width: 100%;
  }

  /* oferta */
  .oferta_form {
    text-align: center;
  }
  .oferta_form h2 {
    font-size: 30px;
    text-align: center;
  }
  .oferta_form input {
    width: 90%;
  }
  .oferta_form hr {
    width: 90%;
  }

  /* contact */
  .bank_info {
    text-align: center;
  }

  /* for client */
  .contacts_content img {
    width: 100%;
  }
  .iframe_video {
    width: 100%;
    max-height: 300px;
  }
}

@media screen and (width < 430px) {
  .toolbar a {
    font-size: 30px;
  }

  /* index */

  .dont_go,
  .sit_home,
  .can_home-container p {
    font-size: 30px;
  }
  .events h2 {
    font-size: 40px;
  }
  .event-media img,
  .event-details {
    width: 100%;
  }
  .can_home-container button {
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
  }
  .dont_go,
  .sit_home,
  .can_home-container p {
    margin-top: 20px;
  }

  /* for client */
  .iframe_video {
    max-height: 150px;
  }
}
@media screen and (width < 370px) {
  /* index */
  header img {
    width: 80%;
  }

  /* contact */
  .contacts_content h1 {
    font-size: 30px;
  }
  .bank_info h2 {
    font-size: 30px;
  }

  /* for client */
  .consumer_safety_title {
    font-size: 30px;
  }
}

@media screen and (width < 330px) {
  .contacts_content {
    width: 100%;
  }
}
